<p id="notice"><%= notice %></p>

<p>
  <strong>Given name:</strong>
  <%= @customer.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @customer.family_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @customer.email_address %>
</p>


<p>
  <strong>Address line 1:</strong>
  <%= @customer.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @customer.address_line_2 %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @customer.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
